p {
  text-align: center;
  font-size: 40px;
  color: White;
}

body {
  background-image: url(123aaa.jpg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
}