p {
  text-align: center;
  font-size: 27px;
  color: black;
}

.marchText {

  text-align: center;
  font-size: 11px;
  color: black;
}

body {
  background-image: url(macikaBG.jpg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
}