<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mozak vezbalica igrica</title>
    <link rel="stylesheet" href="guessStyle.css">
    <script src="script.js" defer></script>
</head>
<body>
<p class="gornjiText">Evo ljubavi nesto malooo za nase 3 prelepe godincie vezee!</p>
<p class="donjiText">Uzivaj u ovoj igricicici! VOLIM TE!</p>
<div class="game">
    <div class="controls">
        <button>Kreni</button>
        <div class="stats">
            <div class="moves">0 poteza</div>
            <div class="timer">Vreme: 0 sek</div>
        </div>
    </div>
    <div class="board-container">
        <div class="board" data-dimension="4"></div>
        <div class="win">Bravo dupe pobedila si ! Volim te <3 </div>
    </div>
</div>
</body>
</html>